* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;/*
  border: 0.5px solid red; */
}

body {
  font-size: 0.85rem;
  margin: 0 auto;
  font-family: mina, ubuntu, sans-serif;
  color: #e7ebe1;
  background-color: #191d13;
  line-height: 1.5rem;
  letter-spacing: 0.75px;
}

.hero-image {
  height: 100vh;
  background-image: url(../img/hero-image.jpg); /* Photo by Jeremy Bishop on Unsplash */
  background-size: cover;
  background-position: center;
}


a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #e7ebe1;
}

.header-nav-wrapper,
.intro,
.showcase-container,
.about-container,
footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5%;
  align-items: center;
}

.header-top {
  display: flex;
  justify-content: center;
  flex: 1 1 100%;
  margin: auto;
}

.navbar-top {
  flex: 1 1 100%;
  margin: 10% auto;
}

ul {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
  display: inline;
}

.header-top img, .header-top a {
  width: 60px;
}

.intro {
  position: absolute;
  top: 55%;
  font-size: 0.6rem;
}

.highlight {
  color: #e82520;
  text-shadow: #e7ebe1;
}

.fa-angle-double-down {
  position: absolute;
  left: 50%;
  bottom: 5%;
  color: #e7ebe1;
}

.fa-angle-double-down:hover {
  color: #e82520;
  transition: color 0.3s ease-in-out;
}

.showcase-container {
  display: flex;
  font-size: 0.7rem;
}

#showcase, .project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.project-sections {
  margin: 10px 0;
}
.project-content {
  padding: 10px 5px 5px 5px;
}

.p-content {
  font-size: 0.85rem;
}

.project img {
  width: 100%;
  display: block;
  margin: auto;
}

.showcase-container h1, #about-me h1 {
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px groove #e82520;
  padding-bottom: 3px;
}

#contact {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: 100%;
}

#contact h1 {
  flex: 1 1 100%;
  border-bottom: 1px groove #e82520;
}

.social-links {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  align-items: stretch;
  height: 70px;
}

.fab {
  padding: 1rem;
  font-size: 1.5rem;
}

.footer-note {
  flex-basis: 100%;
}

@media screen and (min-width: 600px) {
  .header-top {
    display: flex;
    justify-content: flex-start;
    flex-basis: 30%;
  }

  .navbar-top {
    flex-basis: auto;
  }
}