* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;/*
  border: 0.5px solid red; */
}

body {
  font-size: 0.85rem;
  margin: 0 auto;
  font-family: mina, ubuntu, sans-serif;
  color: #fff;
  background-color: #000;
  line-height: 1.5rem;
  letter-spacing: 1px;
}

.hero-image {
  height: 100vh;
  background-image: url(https://source.unsplash.com/6fbX_qHQCP8/5309x3539); /* Photo by Jeremy Bishop on Unsplash */
  background-size: cover;
  background-position: center;
}


a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.header-nav-wrapper,
.content,
.showcase-container,
.about-container,
footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10%;
  align-items: center;
}

.header-top {
  display: flex;
  justify-content: center;
  order: 1;
  flex: auto;
  margin: auto;
}

.navbar-top {
  order: 2;
  flex: auto;
  margin: 10% auto;
}

ul {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
  display: inline;
}

.header-top img, .header-top a {
  width: 60px;
}

.content {
  position: absolute;
  top: 55%;
  font-size: 0.6rem;
}

.highlight {
  color: #e82520;
  text-shadow: #fff;
}

.content h1 {
  color: #fff;
}

.fa-angle-double-down {
  position: absolute;
  left: 50%;
  bottom: 5%;
  color: #fff;
}

.fa-angle-double-down:hover {
  color: #e82520;
  transition: color 0.3s ease-in-out;
}

.showcase-container {
  display: flex;
  font-size: 0.6rem;
}

#showcase, .project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.project-content {
  padding: 5px 5px;
}

.p-content {
  font-size: 0.85rem;
}

.project img {
  width: 100%;
  display: block;
  margin: auto;
}

.showcase-container h1, #about-me h1, #contact h1 {
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px groove #e82520;
  padding-bottom: 3px;
}